body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar + .container {
	margin-top: 70px;
}

#secret_key {
	text-align: center;
}

#secret_key img, #barcode img {
	margin: 30px auto 0;
    display: block;
}

.modal-body ul {
	list-style: none;
}

.btn + .btn {
	margin-right: 15px;
}